body{
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'product_sansregular', serif;
    font-size: 15px;
}

@font-face {
    font-family: 'product_sansregular';
    src: url('../assets/fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(20, 20, 20), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cpanel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 4rem;
    background: white;
    color: black;
    box-shadow: 0 1rem 2rem black;
    border-radius: 10px;
    z-index: 100;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
}

.input-group label{
    text-align: left;
}

.input-group input[type="text"],
.input-group input[type="number"]{
    font-family: 'product_sansregular', serif;
    text-align: right;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid;
}

#toast{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, 0%);
    transition: all .25s;
    z-index: 100;
    border: 2px solid white;
    padding:1rem;
    border-radius: 5px;
}
#content{
}

#text{
    color: white;
    cursor: default;
    transition: opacity .25s;
}

#none-selected{
    position: absolute;
    right: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.hide{
    opacity: 0;
    z-index: -1;
}

.hide-and-slide-up{
    opacity: 0;
    z-index: -1;
    margin-top: -5rem;
}