body{
    margin: 0;
    box-sizing: border-box;
    color: white;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(20, 20, 20), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#control-panel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 4rem;
    background: white;
    color: black;
    box-shadow: 0 1rem 2rem black;
    border-radius: 10px;
}

#toast{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, 0%);
    transition: all .25s;
    z-index: 100;
    border: 2px solid white;
    padding:1rem;
    border-radius: 5px;
}
#content{
}

#text{
    color: white;
    cursor: default;
    transition: opacity .25s;
}

.hide{
    opacity: 0;
    z-index: -1;
}

.hide-and-slide-up{
    opacity: 0;
    z-index: -1;
    margin-top: -5rem;
}